.container {

    width: 80vmin;
    position: relative;

}

.inputText {
    margin: 2.5vh 0;
    padding: 10px;
    width: 80%;
    height: 20vh;

    outline: none;
    border: 3px solid #ae9cff;
    border-radius: 10px;

    font-size: 16px;

    resize: none;
}

/* Track */
.inputText::-webkit-scrollbar {
    width: 8px;
}

/* Handle */
.inputText::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

select {

    cursor: pointer;
    /* background-color: #00000044; */
    /* color: white; */
    outline: none;
    border: 3px solid #ae9cff;
    border-radius: 10px;

    width: 15%;
    margin-left: 5%;
    padding: 5px;
}

.button {
    position: absolute;
    right: 11%;
    top: 50%;

    width: 40px;
    aspect-ratio: 1;
    background-color: #ae9cff;
    border: none;
    outline: none;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #776baf;
    cursor: pointer;
}

.button img{
    width: 60%;
    aspect-ratio: 1;
}